:root {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    --menu-color: #4a4a4a;
    --background-color: #3CDBC0;
    --text-color:#FFFFFF;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0%;
    width: 100vw;
    background-color: var(--text-color);
    padding-bottom: 13px;
}

.header .image {
    width: 155px;
    padding-top: 10px;
}

.header .menu {
    list-style: none;
    display: flex;
}

.menu .link {
    padding: 10px;
    color: var(--menu-color);
    text-decoration: none;
    text-transform: uppercase;
}

.main{
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.title {
  font-size: 1.875rem; 
  font-weight: 700;
  width: 11ch;
  text-transform: capitalize;
  text-align: center; 
  line-height: 1.2;
}

@media screen and (min-width:768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
    .header .image {
        padding-left: 30px;
    }
    .header .menu {
        padding-right: 20px;
    }
    .title {
        font-size: 2.5rem;
    }
}
