:root {
    font-family: 'Rubik', sans-serif;
    --nav-menu-color: #4a4a4a;
    --background-color: #3CDBC0;
    --text-color:#FFFFFF;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
}
.logo {
    width: 155px;
}
.menu {
    margin-bottom: 13px;
    text-align: center; 
}
.nav li{
    font-size: 16px;
    display: inline;
    margin: 10px 10px 0 10px;

} 
.menu a{
    text-decoration: none;
    color: var(--nav-menu-color);
}

main{
    background-color: var(--background-color);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan{
  color: var(--text-color);
  font-size: 30px; 
  font-weight: 700;
  width: 40%;
  text-align: center; 
  line-height: 1;
}

@media screen and (min-width:768px) {
   .slogan {
       font-size: 40px;
   } 

    header {
        flex-direction: row;
    }
    .menu{
        margin-left: auto;
    }
}